In [3]:
import pandas as pd
import requests

In [4]:
sys_enrg = pd.read_csv('./sistemulenergetic_ro.csv')

In [5]:
sys_enrg.describe()

,carbune,consum,hidro,hidrocarburi,nuclear,eolian,productie,fotovolt,biomasa,stocare,sold
count,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000
mean,847.332707,5657.742481,1032.750000,1058.930451,1286.073308,982.738722,5720.924812,443.530075,39.840226,26.817669,-63.204887
std,97.892001,694.665595,442.564394,137.123643,16.518217,815.495060,801.589418,561.506892,2.910278,38.140816,965.965819
min,655.000000,4564.000000,390.000000,838.000000,1099.000000,9.000000,4118.000000,-4.000000,29.000000,0.000000,-2523.000000
25%,774.000000,5079.500000,762.750000,924.000000,1284.000000,272.750000,5164.250000,-3.000000,39.000000,0.000000,-680.250000
50%,855.500000,5570.500000,870.000000,1110.000000,1289.000000,779.500000,5698.500000,56.000000,40.000000,8.000000,115.500000
75%,879.000000,6171.000000,1379.000000,1174.000000,1293.000000,1807.000000,6247.000000,786.000000,42.000000,44.000000,684.250000
max,1071.000000,7323.000000,1992.000000,1293.000000,1317.000000,2429.000000,7370.000000,1746.000000,45.000000,177.000000,1754.000000

In [8]:
epid_data = pd.read_csv('https://storage.googleapis.com/covid19-open-data/v3/epidemiology.csv')

In [9]:
epid_data.describe()

,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
count,1.247580e+07,1.166714e+07,3.980462e+06,3.194489e+06,1.232704e+07,1.147482e+07,3.991157e+06,3.012920e+06
mean,1.111905e+02,1.274817e+00,2.104549e+02,2.509508e+03,3.539969e+04,5.874310e+02,6.655680e+04,9.057159e+05
std,1.165983e+04,8.808127e+01,1.898989e+04,2.955847e+05,6.135014e+05,9.228857e+03,1.572899e+06,1.518347e+07
min,-5.045418e+06,-6.381100e+04,-1.001683e+07,-3.541552e+08,0.000000e+00,0.000000e+00,-3.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.020000e+02,3.000000e+00,0.000000e+00,3.460000e+02
50%,1.000000e+00,0.000000e+00,0.000000e+00,7.000000e+00,1.034000e+03,1.800000e+01,7.000000e+00,1.890000e+03
75%,1.100000e+01,0.000000e+00,5.000000e+00,5.200000e+01,5.002000e+03,8.100000e+01,3.099000e+03,1.508900e+04
max,5.047094e+06,6.383000e+04,9.967355e+06,3.541856e+08,9.244050e+07,1.005195e+06,2.345841e+08,9.214000e+09